<nav class="w-full flex justify-between items-center p-4 bg-blue-600 shadow-2xl">
    <div class="logo">
        <ng-container *ngIf="!isLoggedIn">
            <span routerLink="/welcome" class="text-gray-200 text-4xl flex justify-start items-center hover:cursor-pointer italic"> <span><i style="font-size: 22px; margin-right: 5px;" class="fas fa-shopping-cart"></i></span>Cart Mingle</span> 
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
       <span routerLink="/home" class="text-gray-200 text-4xl flex justify-start items-center hover:cursor-pointer italic"><span><i style="font-size: 22px; margin-right: 5px;" class="fas fa-shopping-cart"></i></span>Cart Mingle</span> 
    </ng-container>
    </div>
    <div class="flex items-center w-1/3 border-2  border-blue-600">
      <span class="absolute mt-1.5 mx-3"><i class="fa-brands fa-searchengin font-light"></i></span>
      <input type="text" placeholder="Search Product" #input class="w-full p-2 pl-9 rounded-l text-gray-600 focus:border-blue-600 focus:outline-none" (keyup.enter)="searchProduct(input.value)">
      <button class="bg-slate-400 p-2 text-white outline-none outline-0 " (click)="searchProduct(input.value)">Search</button>
  </div>
    <div class="nav-items flex">
        <ng-container *ngIf="!isLoggedIn">
            <span routerLink="/login" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Login</span>
        <span routerLink="/register" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Register</span>
        </ng-container>
        <ng-container *ngIf="isLoggedIn">
            <span routerLink="/cart" class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">Cart</span>
               <div class="relative group">
                <button class="text-xl cursor-pointer text-gray-200 font-bold m-3 hover:underline hover:text-indigo-200">
                  ShopTogether
                </button>
                <div class="absolute w-36 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 opacity-0 transition-opacity duration-300 group-hover:opacity-100 group-hover:visible">
                  <a (click)="showCreateCart()" class="cursor-pointer block px-4 py-1 border-2 border-gray-400 font-size:18px text-blue-600 hover:bg-gray-100">Create a Cart</a>
                  <a (click)="showJoinCart()" class="cursor-pointer block px-4 py-1 border-t-0 border-2 border-gray-400 font-size:18px text-blue-600 hover:bg-gray-100">Join a Cart</a>
                </div>
              </div>
              <div class="relative group flex items-center cursor-pointer m-3 text-gray-200">
                <i class="fas fa-user-circle text-3xl"></i>
                <span class="text-xl font-bold ml-2">{{username}}</span>
                
                <!-- Logout option -->
                <div class="absolute top-full mt-1 bg-white text-blue-600 rounded shadow-lg text-center opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                    <a routerLink="/login" (click)="logout()" class="block px-4 py-1 border-2 border-gray-400 font-size:18px hover:bg-gray-100">Logout</a>
                </div>
            </div>
        </ng-container>
    </div>
</nav>